.main-view-container {
  display: block;
  width: full;
  background-color: var(--color-gris-oscuro);
}

.last-news-card-container {
  width: 100%;
  background-color: var(--color-gris-oscuro);
}

.sm-news-card-container {
  padding-block: 1rem;
  margin-block: 2rem;
  max-height: 300px;
  display: flex;
  gap: .5rem;
  background-color: var(--color-gris-oscuro);
  overflow-x: scroll;
}

.sm-news-card-container::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar vertical */
  height: 6px; /* Altura del scrollbar horizontal */
}

.sm-news-card-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista del scrollbar */
  border-radius: 10px;
}

.sm-news-card-container::-webkit-scrollbar-thumb {
  background: #888; /* Color de la manija del scrollbar */
  border-radius: 10px;
}

.sm-news-card-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la manija del scrollbar al hacer hover */
}

.horizontal-ad-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
  background-color: black;
  padding: .5rem;
}


@media (max-width: 1240px) {
  .horizontal-ad-container{
    width: 100%;
    display: block;
    margin-top: .5rem;
    padding: .5rem;
  }
}
@media (max-width: 720px) {
  .horizontal-ad-container{
    width: 100%;
    display: block;
    margin-top: .5rem;
    padding: .5rem;
  }
}