.normal-news-card {
    overflow: hidden;
    transition: box-shadow 0.3s;
    /* border-radius: 5px; */
    height: 100%;
    max-width: 300px;
    position: relative;
  }
  
  .title-another-news{
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  
  .normal-news-card__image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }
  .normal-news-card:hover{
    background-color: var(--color-gris-claro);
  }
  
  .normal-news-card:hover .normal-news-card__image {
    cursor: pointer;
  }
  
  .normal-news-card__title {
    margin: 0;
    font-size: 1em;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0), rgb(143, 5, 5));
    /* background-color: black; */
    color: white;
   ;padding: .5rem;
    /* text-decoration: underline; */
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-height: 20%;
  }
  .normal-news-card__type{
    background-color: var(--color-rojo);
    color: white;
    position: absolute; /* Cambiar a absoluto */
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    padding: 5px;
    border-radius: 3px;
    z-index: 1; /* Asegúrate de que esté encima de la imagen */
  }
  
  